@import (less) "./variable.css";

html[data-theme="light"] {
  @import (less) "./antd.light.base.css";
}

html[data-theme="dark"] {
  @import (less) "./antd.dark.base.css";
}

html[data-theme="dark"],
html[data-theme="default"] {
  // button
  .live-btn {
    line-height: 1;
    align-items: center;
    font-size: var(--live-font-size-lg);

    &-lg {
      font-size: 18px;
    }

    &-sm {
      font-size: var(--live-font-size-base);
    }
  }
  .live-btn[disabled],
  .live-btn[disabled]:active,
  .live-btn[disabled]:focus,
  .live-btn[disabled]:hover {
    border-color: var(--live-disabled-color);
  }
}
