:root {
  --live-primary-color: #ff0040;
}

html[data-theme="default"]:root {
  --live-body-background: #efefef;
  --live-heading-color: #333;
  --live-text-color: #666;
}

html[data-theme="dark"]:root {
  --live-body-background: #000;
  --live-heading-color: #fff;
  --live-text-color: #999;
}
